.topbar {
  @include flexbox(flex, space-between);
  align-items: center;
  
  width: 90%;
  height: 49px;
  margin: 48px 0;
  left: 78px;

  & p {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  
  & a {
    display: flex;
    align-items: center;
  }

  @media only screen and (max-width: 820px) {
    flex-wrap: wrap;

    width: 90%;
    height: auto;
  } 
  @media only screen and (max-width: 390px) {
    & p, a {
      margin-top: 15px;
    }
    & a img {
      width: 100%;
    }
    & .btn {
      margin: 25px auto;
    }
  } 
}
